In [11]:
2+3+9

14

In [12]:
99-73-30

-4

In [13]:
23.54*-1432

-33709.28

In [14]:
100/7

14.285714285714286

In [15]:
100//7

14

In [16]:
100%7

2

In [17]:
5**3

125

In [22]:
name="vani"

In [23]:
print("My name is " + name)   #printing name here

My name is vani

In [24]:
""" hello
 testing multiple line
 comments here """
print("Hello")

Hello

In [25]:
fav_no=1
least_no=5
neutral_no=3

fav_no==1

True

In [26]:
least_no!=5

False

In [27]:
fav_no!=neutral_no

True

In [28]:
least_no>=neutral_no

True

In [29]:
is_fav_greater=fav_no>=5
print("is fav no greater that 5? ",is_fav_greater)

is fav no greater that 5?  False

In [36]:
color1, color2, color3 = "Blue","green","Red"
print(color1,color2,color3)

Blue green Red

In [37]:
color4=color5="pink"
print(color4,color5)

pink pink

In [38]:
counter=10
counter=counter+1
print(counter)

11

In [39]:
counter+=4
print(counter)

15

In [40]:
type(counter)

int

In [41]:
type(name)

str

In [42]:
type(is_fav_greater)

bool

1. list
2. tuple
3. dictionary
4. int
5. float
6. string
7. boolean

#### Strings

In [14]:
today="    SunDay"
today

'    SunDay'

In [5]:
"Sund" in today

True

In [6]:
today.lower()

'sunday'

In [7]:
today.upper()

'SUNDAY'

In [9]:
today.capitalize()

'Sunday'

In [11]:
another_day=today.replace("Sun","Mon")
another_day

'Monday'

In [12]:
days="Sun,Mon,Tues"
days

'Sun,Mon,Tues'

In [13]:
days.split(",")

['Sun', 'Mon', 'Tues']

In [15]:
today.strip()      # remove spaces from the front or back of the string

'SunDay'

In [16]:
cost_of_ice_bag=1.25
profit_margin=0.2
no_of_bags=500

output_message=""" if it sells ice bags at {} per bag
with profit margin of {} then total profit on {} ice bags is {} """

print(output_message)

 if it sells ice bags at {} per bag
with profit margin of {} then total profit on {} ice bags is {}

In [17]:
total_profit=cost_of_ice_bag*profit_margin*no_of_bags

output_message=output_message.format(cost_of_ice_bag,profit_margin*100,no_of_bags,total_profit)
print(output_message)

 if it sells ice bags at 1.25 per bag
with profit margin of 20.0 then total profit on 500 ice bags is 125.0

In [19]:
first_name="Vani"
first_name=="Vaani"

False

#### Lists

In [20]:
fruits=["apple", "banana","cherry"]

In [21]:
fruits

['apple', 'banana', 'cherry']

In [22]:
type(fruits)

list

In [23]:
len(fruits)

3

In [24]:
fruits[0]

'apple'

In [25]:
fruits[-1]

'cherry'

In [27]:
fruits[-3]

'apple'

In [29]:
fruits[1:3]

['banana', 'cherry']

In [34]:
fruits[-4:-1]

['apple', 'banana']

In [31]:
fruits[-1:-3]

[]

In [36]:
fruits.append("blueberry")

In [37]:
fruits

['apple', 'banana', 'cherry', 'blueberry']

In [38]:
fruits.insert(1,"orange")
fruits

['apple', 'orange', 'banana', 'cherry', 'blueberry']

In [39]:
fruits.remove("cherry")
fruits

['apple', 'orange', 'banana', 'blueberry']

In [40]:
fruits.pop(2)       # delete a specific index
fruits

['apple', 'orange', 'blueberry']

In [41]:
"apple" in fruits

True

In [42]:
"banana" in fruits

False

In [44]:
all_fruits=fruits+["pineapple","banana"]+["guava","dates"]
all_fruits

['apple', 'orange', 'blueberry', 'pineapple', 'banana', 'guava', 'dates']

In [45]:
copy_allfruits=all_fruits.copy()
copy_allfruits

['apple', 'orange', 'blueberry', 'pineapple', 'banana', 'guava', 'dates']

In [55]:
all_fruits.sort()
all_fruits

['apple', 'banana', 'blueberry', 'dates', 'guava', 'orange', 'pineapple']

In [56]:
all_fruits.reverse()
all_fruits

['pineapple', 'orange', 'guava', 'dates', 'blueberry', 'banana', 'apple']

In [63]:
fruits.sort(reverse =True)
fruits

['orange', 'blueberry', 'apple']

#### Tuples

In [64]:
fruits=('orange', 'blueberry', 'apple')
fruits

('orange', 'blueberry', 'apple')

In [66]:
"orange" in fruits

True

In [67]:
# u cant append or remove or change in tuple

#### Dictionaries

In [70]:
person1 = {
    'name':'Vani Tiwari',
    'sex': 'Female',
    'age': 21
}

In [71]:
person1

{'name': 'Vani Tiwari', 'sex': 'Female', 'age': 21}

In [73]:
person1['name']

'Vani Tiwari'

In [79]:
person1.get('address','Unknown')

'Unknown'

In [80]:
person1

{'name': 'Vani Tiwari', 'sex': 'Female', 'age': 21}

In [82]:
person1["age"]=20
person1

{'name': 'Vani Tiwari', 'sex': 'Female', 'age': 20}

In [84]:
person1["address"]="479/2 maujpur"
person1

{'name': 'Vani Tiwari', 'sex': 'Female', 'age': 20, 'address': '479/2 maujpur'}

In [86]:
person1.pop("address")
person1

{'name': 'Vani Tiwari', 'sex': 'Female', 'age': 20}

In [88]:
person1.keys()

dict_keys(['name', 'sex', 'age'])

In [89]:
person1.values()

dict_values(['Vani Tiwari', 'Female', 20])

In [90]:
person1.items()

dict_items([('name', 'Vani Tiwari'), ('sex', 'Female'), ('age', 20)])

SyntaxError: invalid syntax (<ipython-input-93-2c7af9185c02>, line 1)